@use "colors";
@use "math-styles";
@use "lengths";

.Note {
    @include math-styles.boxed-theorem;
    @include math-styles.math-counter(exercise);
    @include math-styles.math-counter(example);
    @include math-styles.answer(proof);
    @include math-styles.answer(solution);

    > *:last-child {
        margin-bottom: 0;
    }

    p {
        margin-bottom: lengths.$medium;
    }

    p > code {
        background-color: colors.$inline-code-background;
    }

    * + p,
    * > p,
    * + theorem,
    * + definition,
    * + proposition,
    * + example,
    * + exercise,
    * + proof,
    * + solution {
        margin-top: lengths.$medium;
    }

    h1 + p,
    h2 + p,
    h3 + p {
        margin-top: 0;
    }

    h1 {
        margin: 0;
        margin-bottom: lengths.$small;
    }

    h2 {
        margin-top: lengths.$big;
        margin-bottom: lengths.$small;
    }

    h1 + h2 {
        margin-top: 0;
    }

    img {
        max-width: 100%;
        display: block;
        margin: auto;
    }

    // Table of contents
    h2 + ul {
        p,
        li,
        ul > li {
            margin: lengths.$small 0;
        }
    }
}
