@use "colors";
@use "math-styles";
@use "lengths";

.Note {
    @include math-styles.boxed-theorem;
    @include math-styles.animation;

    > *:last-child {
        margin-bottom: 0;
    }

    p {
        margin-bottom: lengths.$medium;
    }

    p > code {
        background-color: colors.$inline-code-background;
    }

    * + p,
    * + theorem {
        margin-top: lengths.$medium;
    }

    h2 + p,
    h3 + p {
        margin-top: 0;
    }

    h2 {
        margin: 0;
        margin-bottom: lengths.$medium;
    }

    h3 {
        margin-top: lengths.$big;
        margin-bottom: lengths.$small;
    }

    h2 + h3 {
        margin-top: lengths.$medium;
    }

    img {
        max-width: 100%;
        display: block;
        margin: auto;
    }
}
