@use "spacings";

.Note {
    h2 {
        margin: 0;
    }

    h3 {
        margin-top: spacings.$medium;
        margin-bottom: spacings.$small;
    }

    h3:first-of-type {
        margin-top: 0;
    }

    img {
        display: block;
        margin: auto;
    }
}
