* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: "Merriweather", serif;
}

body {
    width: 100vw;
    height: 100vh;
}

span {
    height: 100%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

a,
a:link,
a:visited {
    color: black;
    text-decoration: none;
    border-bottom: 1px dotted black;
    transition: color 0.3s, border-bottom 0.3s;
}

a:hover {
    color: #2ecc71;
    border-bottom: 1px dotted #2ecc71;
}

h1,
h2,
h3 {
    font-family: "Open Sans", sans-serif;
}

h2 {
    margin-bottom: 5px;
}

section {
    margin: 20px 0;
}

section:first-child {
    margin-top: 0;
}

section:last-child {
    margin-bottom: 0;
}
