{
    "root": true,
    "ignorePatterns": ["node_modules/*", ".next/*", "build/*", "src/scripts/*.js", "next.config.js"],
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "plugin:@next/next/recommended"],
    "rules": {
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "no-control-regex": "off"
    }
}
