@use "breakpoints";
@use "lengths";

.Me {
    float: right;
    margin-right: 40px;

    h1 {
        margin: auto;
        text-align: center;
    }

    img {
        display: block;
        width: 150px;
        height: auto;
        object-fit: cover;
        border-radius: 100%;
        margin: lengths.$big auto;
        pointer-events: none;
    }

    @media only screen and (max-width: breakpoints.$big) {
        float: none;
        transform: rotate(180deg);
        margin: 0 0 lengths.$big 0;

        h1,
        img {
            display: inline-block;
            vertical-align: middle;
            margin: 0;
            transform: rotate(180deg);
        }

        h1 {
            width: 80%;
            text-align: left;
            padding-left: lengths.$big;
        }

        img {
            width: 20%;
        }
    }
}
