.Me {
    width: 100%;
}

.Me div {
    display: inline-block;
    vertical-align: middle;
}

.Me .ImageContainer {
    width: 25%;
}

.Me .AboutContainer {
    width: 75%;
    padding-left: 10px;
}

.Me h1 {
    text-align: center;
}

.Me img {
    display: block;
    width: 150px;
    height: auto;
    border-radius: 100%;
    margin: 20px auto;
}
