@use "breakpoints";
@use "lengths";

.Me {
    float: right;
    margin-right: 40px;

    .Name {
        margin: auto;

        h2 {
            text-align: right;
            font-size: 12pt;
            font-style: italic;
            color: gray;
        }
    }

    img {
        display: block;
        width: 150px;
        height: auto;
        object-fit: cover;
        border-radius: 100%;
        margin: lengths.$big auto;
        pointer-events: none;
    }

    @media only screen and (max-width: breakpoints.$big) {
        float: none;
        transform: rotate(180deg);
        margin: 0 0 lengths.$big 0;

        .Name,
        img {
            display: inline-block;
            vertical-align: middle;
            margin: 0;
            transform: rotate(180deg);
        }

        .Name {
            width: 80%;
            padding-left: lengths.$big;

            h2 {
                text-align: left;
                line-height: 1;
            }
        }

        img {
            width: 20%;
        }
    }
}
