.Me {
    width: 100%;
}

.Me div {
    display: inline-block;
    vertical-align: middle;
}

.Me .ImageContainer {
    width: 20%;
}

.Me .AboutContainer {
    width: 80%;
    padding-left: 20px;
}

.Me h1 {
    text-align: center;
}

.Me img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 100%;
    margin: 20px auto;
}
