$highlight: #2ecc71;
$highlight-dim: #68dd98;
$highlight-very-dim: #cdf4dd;
$inline-code-background: #e6e6e6;
$blockquote-background: #e6e6e6;
$note-tag-background: #f3f3f3;

$transition-length: 0.3s;
