$big: 20px; // E.g., space between sections, tables, etc.
$medium: 10px; // E.g., distance between list items, table rows, etc.
$small: 5px; // E.g., distance between headers and paragraphs, etc.

$space-from-bottom: 50px;
$table-min-width: 360px;
$table-max-width: 500px;
$quarter-name-width: 100px;

// Mobile navbar
$mobile-navbar-height: 80px;
$mobile-navbar-menubar-height: 4px;
$mobile-navbar-menubar-width: 21px;
$mobile-navbar-menubar-margin: 3px;

// Math lengths
$math-bullet-width: 40px;
$math-after-bullet: 5px;
