@use "fonts";
@use "lengths";

@mixin boxed-theorem {
    theorem,
    definition,
    proposition,
    corollary {
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: auto;
        border: 1px solid black;
        padding: lengths.$medium;
        overflow-x: auto;

        p {
            margin: 0;
        }

        h6,
        h6 + p {
            font-family: fonts.$body-font;
            font-size: 1em;
            display: inline;
        }

        h6::after {
            content: ".";
        }

        ol {
            counter-reset: list;
            margin-left: lengths.$math-bullet-width;

            li {
                list-style: none;
                position: relative;
                margin: lengths.$medium 0;
            }

            li:before {
                display: inline-block;
                position: absolute;
                width: lengths.$math-bullet-width - lengths.$medium;
                left: -1 * lengths.$math-bullet-width;
                counter-increment: list;
                text-align: right;
                content: "(" counter(list, lower-roman) ")";
            }
        }
    }
}

// E.g., Exercise 1, Example 4, etc.
@mixin math-counter($type) {
    #{$type} {
        display: block;
        h6,
        h6 + p {
            font-family: fonts.$body-font;
            font-size: 1em;
            display: inline;
        }
    }
}

// E.g., Proof., Solution., etc.
@mixin answer($type) {
    #{$type} {
        display: block;

        h6,
        h6 + p {
            font-family: fonts.$body-font;
            font-size: 1em;
            display: inline;
        }

        h6 {
            font-style: italic;
            font-weight: normal;
        }
    }
}

// No longer used since these aren't selectable or searchable
// @mixin math-counter($type, $display-name) {
//     #{$type} > p:first-of-type::before {
//         font-weight: bold;
//         counter-increment: #{$type};
//         content: "#{$display-name} "counter(#{$type})". ";
//     }
// }

// @mixin solution {
//     solution > p:first-of-type::before {
//         font-style: italic;
//         content: "Solution. ";
//     }
// }

// @mixin proof {
//     proof > p:first-of-type::before {
//         font-style: italic;
//         content: "Proof. ";
//     }
// }

@mixin animation {
    animation {
        display: block;

        canvas {
            display: block;
            margin: auto;
        }
    }
}
