@use "breakpoints";
@use "colors";
@use "fonts";
@use "lengths";

@mixin base-fonts {
    html {
        font-family: fonts.$body-font;
    }

    p {
        line-height: 1.5;

        + p {
            margin-top: lengths.$medium;
        }

        code {
            padding-bottom: 2px;
            background-color: colors.$inline-code-background;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: fonts.$header-font;
    }

    h1 {
        font-size: 1.75em;
    }

    h3 {
        font-size: 1.25em;
    }
}

@mixin base-anchor {
    a,
    a:link,
    a:visited {
        height: auto;
        color: colors.$highlight;
        text-decoration: none;
        border-bottom: 1px dotted colors.$highlight;
        transition-duration: colors.$transition-length;
    }

    a:hover {
        color: colors.$highlight-dim;
        border-bottom-color: colors.$highlight-dim;
    }
}

@mixin base-section {
    section {
        margin: lengths.$big 0;

        h2 {
            margin-bottom: lengths.$small;
        }
    }

    section:first-child {
        margin-top: 0;
    }

    section:last-child {
        margin-bottom: 0;
    }
}

@mixin base-table {
    table {
        width: lengths.$table-width;
        white-space: nowrap;
        border-collapse: collapse;
    }

    table td {
        padding: lengths.$small;
        padding-left: 0;
        padding-right: lengths.$big;
        vertical-align: top;
    }

    table tr:first-child td {
        padding-top: 0;
    }

    table tr:last-child td {
        padding-bottom: 0;
    }

    table td:first-child {
        font-weight: 700;
    }

    table td div {
        margin: lengths.$medium 0;
    }

    table td div:first-child {
        margin-top: 0;
    }

    table td div:last-child {
        margin-bottom: 0;
    }

    .tableContainer {
        overflow-x: auto;
    }

    .tableContainer--last-is-link {
        // Required to prevent the link underline from overflowing
        padding-bottom: 1px;
    }
}

@mixin base-lists {
    ol,
    ul {
        margin-left: lengths.$big;
    }

    li {
        margin: lengths.$medium 0;
    }
}
