@use "colors";
@use "spacings";

@mixin base-fonts {
    html {
        font-family: "Merriweather", serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Open Sans", sans-serif;
    }
}

@mixin base-anchor {
    a,
    a:link,
    a:visited {
        color: black;
        text-decoration: none;
        border-bottom: 1px dotted black;
        transition: color colors.$transition-length, border-bottom colors.$transition-length;
    }

    a:hover {
        color: colors.$highlight;
        border-bottom: 1px dotted colors.$highlight;
    }
}

@mixin base-section {
    section {
        margin: spacings.$big 0;

        h2 {
            margin-bottom: spacings.$small;
        }
    }

    section:first-child {
        margin-top: 0;
    }

    section:last-child {
        margin-bottom: 0;
    }
}

@mixin base-table {
    table td {
        padding: spacings.$small;
        padding-left: 0;
        padding-right: spacings.$big;
        vertical-align: top;
    }

    table tr:first-child td {
        padding-top: 0;
    }

    table tr:last-child td {
        padding-bottom: 0;
    }

    table td:first-child {
        font-weight: 700;
    }

    table td div {
        margin: spacings.$medium 0;
    }

    table td div:first-child {
        margin-top: 0;
    }

    table td div:last-child {
        margin-bottom: 0;
    }
}
