@use "mixins";

@include mixins.base-fonts;
@include mixins.base-anchor;
@include mixins.base-section;
@include mixins.base-table;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
