.Layout {
    width: 100vw;
    height: 100vh;
    margin: auto;
}

.LeftSide {
    width: 25%;
    float: left;
}

.RightSide {
    width: 50%;
    float: left;
}

@media only screen and (max-width: 1024px) {
    .Layout {
        width: 75%;
        margin: auto;
    }

    .LeftSide,
    .RightSide {
        float: none;
        width: 100%;
        height: auto;
        margin: 0;
    }
}

@media only screen and (max-width: 768px) {
    .Layout {
        width: auto;
        margin: auto;
        padding: 0 20px;
    }
}

@media only screen and (max-width: 480px) {
    .Layout {
        width: 100%;
    }
}
