@use "breakpoints";
@use "lengths";

.Layout {
    margin: auto;

    .LeftSide,
    .RightSide {
        min-height: 1px;
        height: 100%;
        float: left;
    }

    .LeftSide {
        width: lengths.$left-side-width;
    }

    .RightSide {
        width: lengths.$content-width;
        padding-bottom: lengths.$space-from-bottom;
    }

    @media only screen and (max-width: breakpoints.$big) {
        width: lengths.$content-width;
        margin: auto;

        .LeftSide,
        .RightSide {
            width: 100%;
            display: block;
            height: auto;
            margin: 0;
        }

        .RightSide {
            padding-bottom: lengths.$space-from-bottom;
        }
    }

    @media only screen and (max-width: breakpoints.$medium) {
        width: 100%;

        .LeftSide,
        .RightSide {
            width: 100%;
            padding-left: lengths.$big;
            padding-right: lengths.$big;
        }
    }
}
