@use "breakpoints";
@use "colors";
@use "lengths";

.Navbar {
    font-family: "Open Sans", sans-serif;
    width: lengths.$content-width;
    margin: auto;
    margin-bottom: lengths.$big;

    .Mobile {
        display: none;
    }

    ul {
        margin-left: 0;
        height: 100%;
    }

    ul li {
        margin: 0;
        text-decoration: none;
        list-style: none;
        height: 100%;
    }

    ul li a {
        height: 100%;
        padding: lengths.$medium;
        padding-top: lengths.$big;
        margin-right: lengths.$big;
        text-decoration: none;
    }

    ul li a:link,
    ul li a:visited {
        display: block;
        float: left;
        color: black;
        border-bottom: 4px solid colors.$highlight-very-dim;
        transition: border-bottom-color colors.$transition-length;
    }

    ul li a:hover,
    ul li a:active {
        border-bottom-color: colors.$highlight;
    }

    @media only screen and (max-width: breakpoints.$big) {
        width: 100%;
        margin-left: 0;
    }

    @media only screen and (max-width: breakpoints.$medium) {
        padding-left: lengths.$big;
    }

    @media only screen and (max-width: breakpoints.$small) {
        width: 100%;
        height: auto;
        background-color: white;
        margin: 0;
        padding: 0;

        .Desktop {
            display: none;
        }

        .NavbarBar {
            position: absolute;
            height: lengths.$mobile-navbar-height;
            background-color: white;
            width: 100%;
            z-index: 1000;
        }

        // Mobile Navbar styling
        .Mobile {
            display: block;
            height: lengths.$mobile-navbar-height;
        }

        .Mobile ul {
            position: absolute;
            top: -186px;
            width: 100%;
            height: auto;
            transition: top 0.5s;
            z-index: 100;
        }

        .Mobile .ShowButtons {
            top: lengths.$mobile-navbar-height;
        }

        .Mobile li {
            float: left;
            background-color: rgb(250, 250, 250);
            height: auto;
            width: 100%;
        }

        .Mobile li a:link,
        .Mobile li a:visited {
            float: none;
            border-bottom: 0;
            padding: lengths.$medium;
            padding-left: lengths.$medium;
            margin: lengths.$medium;
            margin-left: lengths.$big;
            border-left: 4px solid colors.$highlight-very-dim;
            transition: border-left-color colors.$transition-length;
        }

        .Mobile li a:hover {
            border-left: 4px solid colors.$highlight;
        }
    }
}
