@use "breakpoints";
@use "colors";
@use "lengths";

.Breadcrumbs {
    width: 50%;
    margin: auto;
    margin-bottom: lengths.$medium;
    font-size: 12px;

    a.Crumb {
        border: none;
    }

    .Separator {
        display: inline-block;
        margin: 0 4px;
    }

    .BackSeparator {
        display: none;
    }

    @media only screen and (max-width: breakpoints.$big) {
        width: 100%;
        margin-left: 0;
        padding-left: 0;
    }

    @media only screen and (max-width: breakpoints.$medium) {
        padding-left: lengths.$big;

        .Crumb,
        .Separator {
            display: none;
        }

        a.Crumb:nth-last-of-type(1),
        .BackSeparator {
            display: inline-block;
        }

        .BackSeparator {
            margin-right: 4px;
        }
    }
}
