.Teaching table td {
    padding: 5px;
    padding-left: 0;
    padding-right: 20px;
    vertical-align: top;
}

.Teaching table tr:first-child td {
    padding-top: 0;
}

.Teaching table tr:last-child td {
    padding-bottom: 0;
}

.Teaching table td:first-child {
    font-weight: 700;
}

.Teaching table td div {
    margin: 10px 0;
}

.Teaching table td div:first-child {
    margin-top: 0;
}

.Teaching table td div:last-child {
    margin-bottom: 0;
}
