@use "lengths";

.Teaching {
    table {
        min-width: lengths.$content-width;

        tr {
            td {
                display: inline-block;
                padding: lengths.$small 0;
                text-align: left;
                white-space: normal;
            }

            td:nth-of-type(1) {
                width: 50px; // 15%;
            }

            td:nth-of-type(2) {
                width: 90px; // 20%;
            }
        }
    }
}
